@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1rem solid red; */
}

html {
  font-size: calc(100vw / (1280 / 10));
}

body {
  background: #2b2b2b;
  font-family: Work Sans;
}


header {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger{
    display: none;
}

.logo_con {
  display: flex;
  align-items: center;
  transform: translateX(-4rem);
  gap: 1rem;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo_1 {
  width: 3.2rem;
  height: 3.2rem;
}

.NFT_user {
  font-family: Space Mono;
  color: white;
  font-size: 2rem;
}

.signup_btn {
  background-color: #a259ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  width: 13.2rem;
  height: 4rem;
}

.signup_btn img {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(2rem);
}

.signup_nav {
  width: 100%;
  border-radius: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  font-family: Work Sans;
  font-size: 1.6rem;
}

.nav_links a {
  text-decoration: none;
  color: #ffffff;
  font-family: Work Sans;
  font-size: 1.8rem;
}


.main_con{
    display: flex;
    align-items: center;
}
.main_left img{
    width: 66rem;
    height: 60rem;
}

.main_right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 7rem;
}

.ssssssssss{
font-family: Work Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 5rem;
line-height: 110.00000000000001%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
color: #ffffff;
}

.p1, .p2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: Work Sans;
    font-weight: 400;
}

.p1{
    margin-top: 2rem;

}
.p2{
    margin-bottom: 2rem;
}



form div{
  background-color: #FFFFFF;
  width: 25rem;
  height: 4.6rem;
  border-radius: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

form i{
  color: #BDBDBD;
  font-size: 2rem;
  margin-left: 1rem;
}
form input{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.create_account{
  width: 25rem;
  height: 4.6rem;
  border-radius: 2rem;
  margin-top: 1rem;
  background-color: #A259FF;
  color: #FFFFFF;
  font-size: 1.6rem;
}


.first_footer {
  margin-top: 2rem;
  margin-left: 7rem;
}

.nft_footer_title {
  font-family: Space Mono;
  color: #ffffff;
}

footer p {
  color: #cccccc;
}

.first_footer_p1 {
  margin-top: 1rem;
}
.first_footer_p2 {
  margin-bottom: 1rem;
}

.join_community {
  margin-bottom: 1rem;
}

.social_media_footer i {
  font-size: 1.5rem;
  gap: 1rem;
}

.third_footer {
  margin-right: 7rem;
}

footer h1 {
  font-family: Space Mono;
  color: #ffffff;
}
.second_footer p {
  margin-top: 1rem;
}

.third_footer_p1 {
  margin-top: 1rem;
}

.aaaaaaa {
  display: flex;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 22rem;
  height: 3rem;
  display: flex;
  align-items: center;
  
}

footer {
  margin-top: 2rem;
  border-bottom: 0.1rem solid #858584;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid #858584;
}


.search_bar input{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}


.subscribe_btn_11 {
  background-color: #a259ff;
  border-radius: 1rem;
  width: 14rem;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subscribe_btn_11 i {
  font-size: 1.6rem;
  color: #ffffff;
}
.subscribe_btn_11 button {

  background-color: transparent;
  border: none;
  font-size: 1rem;
  height: 3rem;
  color: #ffffff;
}


@media only screen and (max-width: 500px){
  .burger{
    display: block !important;
    margin-right: 7rem;
  }
  .nav_links, .signup_btn{
    display: none;
  }
  .logo_1{
    width: 10rem;
    height: 10rem;
    margin-left: 7rem;
  }
  .NFT_user{
    font-size: 4rem;
  }

  header{
    padding: 0;
    margin: 0;
  }


  .main_con{
    display: flex;
    flex-direction: column;
    
  }
  .ssssssssss{
    text-align: center;
    margin-top: 6rem;
    font-size: 6rem;
  }
  .p_in_create p{
    text-align: center;
    font-size: 3rem;
  }

  .main_left img{
    width: 100vw;
    height: 90rem;
    margin-top: 0;
  }
  form{
    margin-top: 6rem;
  }
  form div{
    margin-left: 48rem;
    width: 35rem;
    height: 8rem;
    border-radius: 4rem;
  }
  form input::placeholder{
    font-size: 2.5rem;


  }
  .create_account{
    width: 35rem;
    height: 8rem;
    border-radius: 4rem;
    margin-left: 48rem;
  }
  footer{
    margin-top: 10rem;
  }
  .burger img{
    width: 10rem;
    height: 10rem;
  }
}